<div id="loginPage" class="animated zoomIn">
  <div></div>
  <div class="initial-logo animated fadeInUp"></div>
  <div></div>
  <div class="initial-button-container center-align">
    <div class="container">
      <div id="loginCard" class="card-panel pRel round fullW">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate inp" />
          <label for="email">Email</label>
        </div>
        <div class="input-field col s12">
          <input id="password" type="password" class="validate inp" />
          <label for="password">Password</label>
        </div>
        <a
          class="btn waves-effect waves-light bottom"
          onclick="loginPage.loginButton()"
          >Iniciar sesión</a
        >
      </div>
    </div>
    <div></div>
  </div>
</div>
