<!-- App-->
<div id="startPage">
  <div></div>
  <div class="initial-logo animated fadeInUp"></div>
  <div></div>
  <div class="initial-button-container center-align">
    <a
      class="waves-effect waves-green btn white light-green-text fullW mb animated fadeInUp delay-0-25s"
      onclick="goTo(document.querySelector('startPage'), 'components/loginPage.html')"
      >Iniciar sesión</a
    >
    <br />
    <a
      class="waves-effect waves-green btn white light-green-text fullW mb animated fadeInUp delay-0-5s"
      >Registrarse</a
    >
  </div>
  <div></div>
</div>

<!--End App-->
