body,
html {
  height: 100%;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.BG-container {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.BG {
  height: 100%;
  left: -25%;
  width: auto;
  position: absolute;
  text-align: center;
}
#BG-color {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4da521+0,cfeda8+100&0.95+1,0.8+100 */
  background: -moz-linear-gradient(
    top,
    rgba(77, 165, 33, 0.95) 0%,
    rgba(78, 166, 34, 0.95) 1%,
    rgba(207, 237, 168, 0.8) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(77, 165, 33, 0.95) 0%,
    rgba(78, 166, 34, 0.95) 1%,
    rgba(207, 237, 168, 0.8) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(77, 165, 33, 0.95) 0%,
    rgba(78, 166, 34, 0.95) 1%,
    rgba(207, 237, 168, 0.8) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f24da521', endColorstr='#cccfeda8',GradientType=0 ); /* IE6-9 */

  height: 100%;
  width: 100%;

  position: absolute;
}

#app-container {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: absolute;
  box-sizing: border-box;
  top: 0;
}

#startPage {
  box-sizing: border-box;
  height: 100%;
  display: grid;
  grid-template-rows: 64px auto auto auto auto;
  padding: 30px;
}

#loginPage {
  box-sizing: border-box;
  height: 100%;
  display: grid;
  grid-template-rows: 64px auto auto auto auto;
  padding: 30px;
}

.initial-logo {
  background-image: url("../assets/Logo.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.fullW {
  width: 100%;
}

.fullH {
  height: 100%;
}

.mb {
  margin-bottom: 30px;
}

.delay-1s {
  animation-delay: 1s;
}

.delay-0-75s {
  animation-delay: 0.75s;
}

.delay-0-5s {
  animation-delay: 0.5s;
}

.delay-0-25s {
  animation-delay: 0.25s;
}

.inp {
}

.round {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.pRel {
  position: relative;
}
